@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282828;
    color: #fff;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #111;
    height: 100%;
    position: fixed;
    transition: width 0.3s ease;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: background-color 0.3s ease;
}

/* Estilos de la barra lateral*/

.sidebar a:hover {
    background-color: #3c3b3b;
}
.sidebar a.active {
    background-color: #444;
}

.content h1 {
    margin-top: -8px;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.user-info h2 {
    margin-top: 5px;
}

/* Inputs del usuario */
.user-info {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-info input {
    width: 94%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    background-color: #282828;
    color: #fff;
    border-radius: 10px;
}

/*Opción para que el usuario elimine su cuenta*/
.user-info p {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 16px;
    color: #fff;
}

.user-info p a.signup-link {
    color: #ff6b6b;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}

.user-info p a.signup-link:hover {
    text-decoration: underline; 
}

/* Caja para eliminación de cuenta */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content {
    background-color: #444;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    color: #fff;
}

.modal h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.modal p {
    font-size: 16px;
    margin-bottom: 10px;
}

.confirmation-text {
    opacity: 0.7;
}

#confirmInput {
    width: 94%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

#eliminarButton {
    background-color: #ff6565;
    color: #fff;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#eliminarButton:hover {
    background-color: #dd3030;
    box-shadow: 0 0 10px red;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

.buttons {
    text-align: center;
    margin-top: 20px; 
}

.buttons button {
    background-color: #595959; 
    color: #fff; 
    border: none;
    padding: 15px 40px;
    font-size: 16px;
    margin-right: 0px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.buttons button:hover {
    background-color: #393939;
}

/* Estilo para la opción de cambiar imagen*/
input[type="file"] {
    color: rgb(174, 174, 174);
    font-size: 14px;
    font-weight: bold;
}


.profile-picture-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.profile-picture-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.sidebar a.active {
    background-color: #444;
}

.sidebar i{
    margin-right: 6px; 
}

/*Esitlo para las opciones de "cerrar sesión" e ir a la página de "inicio"*/
.sidebar .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logout-button i {
    margin-right: 6px; 
}

.home-button i {
    margin-right: 6px; 
}

/* Estilos para el scroll */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #444; 
}

/* Nuestro equipo*/
/* Tarjeta de Esteban*/
#card {
    overflow:hidden;
    text-align:center;
    width:320px;
    height:535px;
    background: url(/img/esteban_background.png);
    background-size:cover;
    background-position:center center;
    position:relative;
    top:10px; left:350px; right:0; bottom:0;
    margin:auto;
    box-shadow: 
    0px 30px 30px -20px rgba(0,0,0,1), 
    inset 0 0 0 1000px rgba(52, 68, 109, 0.6);
    transition: all .4s cubic-bezier(.37,.26,.35,1)
}
#card:hover { 
    box-shadow: 
    0px 30px 30px -20px rgba(0,0,0,.9), 
    inset 0 0 0 1000px rgba(52, 70, 109, 0.2);
}
#card:hover #avatar {
    animation:none;
    box-shadow:0;
    width:200px; 
    height:200px;
}

#card:hover #profile{
    opacity:1;
    bottom:0;
}
#profile {
    transition: all .5s cubic-bezier(.37,.26,.35,1);
    opacity:0;
    position:absolute; 
    bottom:20px; 
    width:100%;
}
#profile h1 {
    color:#fff;
    padding:0;
    margin:0;
}

#profile h3 {
    color:#aaa;
    padding:0;
    margin:5px 0 40px 0; 
    font-size:.9em
}
#avatar {
    transition: all .4s cubic-bezier(.37,.26,.35,1);
    animation: circleAn 4s infinite;
    width:150px; height:150px;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    margin:auto;
    background:url(/img/esteban_santillan.jpg);
    background-size:cover;
    background-position:center center;
    border-radius:100%;
    box-shadow:0px 30px 30px -25px rgba(0,0,0,0.6);
}
@keyframes circleAn {
    0%   { 
    box-shadow:
        0px 30px 30px -25px rgba(0,0,0,0.6), 
        0px 0px 0px 0px rgb(52, 58, 105), 
        0px 0px 0px 0px rgba(52, 64, 105, 0.7),
        0px 0px 0px 0px rgba(52, 63, 105, 0.5);
    }
100% { 
    box-shadow:
    0px 30px 30px -25px rgba(0,0,0,0.6), 
    0px 0px 0px 70px rgba(52, 68, 105, 0),
    0px 0px 0px 200px rgba(52, 65, 105, 0),
    0px 0px 0px 300px rgba(52, 62, 105, 0);
    }
}

/* Tarjeta de Ignacio */
#card1 {
    overflow:hidden;
    text-align:center;
    width:320px;
    height:535px;
    background: url(/img/ignacio_background.jpg);
    background-size:cover;
    background-position:center center;
    position:relative;
    top:-525px; left:0px; right:0; bottom:0;
    margin:auto;
    box-shadow: 
    0px 30px 30px -20px rgba(0,0,0,1), 
    inset 0 0 0 1000px rgba(52, 109, 96, 0.6);
    transition: all .4s cubic-bezier(.37,.26,.35,1)
}
#card1:hover { 
    box-shadow: 
    0px 30px 30px -20px rgba(0,0,0,.9), 
    inset 0 0 0 1000px rgba(52, 109, 101, 0.2);
}
#card1:hover #avatar1 {
    animation:none;
    box-shadow:0;
    width:200px; 
    height:200px;
}

#card1:hover #profile1{
    opacity:1;
    bottom:0;
}
#profile1 {
    transition: all .5s cubic-bezier(.37,.26,.35,1);
    opacity:0;
    position:absolute; 
    bottom:20px; 
    width:100%;
}
#profile1 h1 {
    color:#fff;
    padding:0;
    margin:0;
}

#profile1 h3 {
    color:#aaa;
    padding:0;
    margin:5px 0 40px 0; 
    font-size:.9em
}
#avatar1 {
    transition: all .4s cubic-bezier(.37,.26,.35,1);
    animation: circleAn1 4s infinite;
    width:150px; height:150px;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    margin:auto;
    background:url(/img/ignacio_reyes.jpg);
    background-size:cover;
    background-position:center center;
    border-radius:100%;
    box-shadow:0px 30px 30px -25px rgba(0,0,0,0.6);
}
@keyframes circleAn1 {
    0%   { 
        box-shadow:
        0px 30px 30px -25px rgba(0,0,0,0.6), 
        0px 0px 0px 0px rgb(52, 105, 91), 
        0px 0px 0px 0px rgba(52, 105, 98, 0.7),
        0px 0px 0px 0px rgba(52, 105, 99, 0.5);
    }
100% { 
    box-shadow:
    0px 30px 30px -25px rgba(0,0,0,0.6), 
    0px 0px 0px 70px rgba(52, 105, 104, 0),
    0px 0px 0px 200px rgba(52, 105, 99, 0),
    0px 0px 0px 300px rgba(52, 105, 94, 0);
    }
}

/**/
.develop {
    letter-spacing: 2px;
    text-align: center;
}

/*Tarjeta de Rodrigo*/
#card2 {
    overflow:hidden;
    text-align:center;
    width:320px;
    height:535px;
    background: url(/img/rodrigo_background.png);
    background-size:cover;
    background-position:center center;
    position:relative;
    top: -1060px; left:-350px; right:0; bottom:0;
    margin:auto;
    box-shadow: 
    0px 30px 30px -20px rgba(0,0,0,1), 
    inset 0 0 0 1000px rgba(52, 109, 55, 0.6);
    transition: all .4s cubic-bezier(.37,.26,.35,1)
}
#card2:hover { 
    box-shadow: 
    0px 30px 30px -20px rgba(0,0,0,.9), 
    inset 0 0 0 1000px rgba(57, 109, 52, 0.2);
}
#card2:hover #avatar2 {
    animation:none;
    box-shadow:0;
    width:200px; 
    height:200px;
}

#card2:hover #profile2{
    opacity:1;
    bottom:0;
}
#profile2 {
    transition: all .5s cubic-bezier(.37,.26,.35,1);
    opacity:0;
    position:absolute; 
    bottom:20px; 
    width:100%;
}
#profile2 h1 {
    color:#fff;
    padding:0;
    margin:0;
}

#profile2 h3 {
    color:#aaa;
    padding:0;
    margin:5px 0 40px 0; 
    font-size:.9em
}
#avatar2 {
    transition: all .4s cubic-bezier(.37,.26,.35,1);
    animation: circleAn2 4s infinite;
    width:150px; height:150px;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    margin:auto;
    background:url(/img/rodrigo_marquez.jpg);
    background-size:cover;
    background-position:center center;
    border-radius:100%;
    box-shadow:0px 30px 30px -25px rgba(0,0,0,0.6);
}
@keyframes circleAn2 {
    0%   { 
    box-shadow:
        0px 30px 30px -25px rgba(0,0,0,0.6), 
        0px 0px 0px 0px rgb(54, 105, 52), 
        0px 0px 0px 0px rgba(56, 105, 52, 0.7),
        0px 0px 0px 0px rgba(55, 105, 52, 0.5);
    }
100% { 
    box-shadow:
    0px 30px 30px -25px rgba(0,0,0,0.6), 
    0px 0px 0px 70px rgba(60, 105, 52, 0),
    0px 0px 0px 200px rgba(52, 105, 53, 0),
    0px 0px 0px 300px rgba(54, 105, 52, 0);
    }
}

/*links de los miembros*/
#profile a {
    opacity: 0;
    transition: opacity 0.5s ease;
    color: #fff;
    margin: 10px;
    text-decoration: none;
    position: relative;
    top: -20px;
}

#card:hover #profile a {
    opacity: 1;
}

#profile1 a {
    opacity: 0;
    transition: opacity 0.5s ease;
    color: #fff;
    margin: 10px;
    text-decoration: none;
    position: relative;
    top: -20px;
}

#card1:hover #profile1 a {
    opacity: 1;
}

#profile2 a {
    opacity: 0;
    transition: opacity 0.5s ease;
    color: #fff;
    margin: 10px;
    text-decoration: none;
    position: relative;
    top: -20px;
}

#card2:hover #profile2 a {
    opacity: 1;
}