@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --violet: #b300fa;
    --white: #dddddd; 
  }

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    background: rgb(26,22,50);
background: linear-gradient(180deg, rgba(26,22,50,1) 0%, rgba(58,3,102,1) 100%);
    font-family: "Poppins", sans-serif;
    color: #dddddd
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Estilos para el formulario de registro */
.register-form {
    background-color: #36393f;
    color: var(--white);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #2b2c2f;
    color: #dddddd;
    text-transform: uppercase;
    height: 40px;
}

.birthdate {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.birthdate > * {
    background-color: #2b2c2f;
}


button {
    text-align: center;
    width: 100%;
    background: rgb(141,11,177);
background: linear-gradient(180deg, rgba(141,11,177,1) 0%, rgba(138,20,201,1) 100%);
    color: #dddddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
} 

button:hover {
    background: rgb(125, 15, 155);
background: linear-gradient(180deg, rgb(178, 18, 222) 0%, rgb(121, 2, 185) 100%);

}

button:active {
    transform: scale(0.98);
}

/* Estilos para el título */
h2 {
    color: #dddddd;
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: #dddddd;
    font-weight: 600;
}

.call-to-action {
    max-width: 400px;
    margin-top: 15px;
    width: 100%;

}

.call-to-action > * {
    text-align: center;
}

p {
    line-height: 10px;
}
