@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --violet: #b300fa;
    --white: #dddddd; 
  }
  

/* Estilos generales */

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Estilos para el formulario de registro */
.register-form {
    background-color: #36393f;
    color: var(--white);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #2b2c2f;
    color: #dddddd;
    text-transform: uppercase;
    height: 40px;
}

.birthdate {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.birthdate > * {
    background-color: #2b2c2f;
}


/* Estilos para el título */
h2 {
    color: #dddddd;
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: #dddddd;
    font-weight: 600;
}

.call-to-action {
    max-width: 400px;
    margin-top: 15px;
    width: 100%;

}

.call-to-action > * {
    text-align: center;
}

p {
    line-height: 10px;
}
