/* Estilos generales */

* {
	cursor: pointer;
}
body {
	margin: 0px;
	padding: 0px;
	height: 100vh;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	background: rgb(26, 22, 50);
	background: linear-gradient(
		180deg,
		rgb(42, 29, 39) 0%,
		rgb(18, 13, 18) 100%
	);
	font-family: 'Poppins', sans-serif;
	color: #dddddd;
}

.app {
	display: flex;
	height: 100%;
}

.ribbon {
	display: flex;
	flex-direction: column;
    background-color: #000000a3;
	justify-content: space-between;
}

.ribbon i {
	padding: 35px;
    color:#9f9f9f;
}

.ribbon i:first-child {
    margin-top: 10px;
}

.ribbon i:hover {
	color: rgb(188, 106, 229);
    cursor: pointer;
}


.ribbon-top {
	display: flex;
	flex-direction: column;
}

.ribbon-bottom {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.mini-profile-pic {
	display: block;
    margin: 0 auto;
	width: 52px;
	height: 52px;
	border-radius: 50px;
	filter: grayscale(100%);
    transition: filter 0.3s ease;
	
}

.mini-profile-pic a {
	cursor: pointer;
}


.mini-profile-pic:hover {
    filter: grayscale(0%); /* Change to full color on hover */
}


/* Barra lateral */
.sidebar {
	
	background-color: #151616c0;
	color: #dddddd;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	overflow-y: auto;
}

.server-list {
    color:#9f9f9f;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
    margin-right: 15px;
}


/* Estilos para los elementos .server */
.server {
    padding: 8px 10px; /* Ajusta el espaciado alrededor del texto */
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s; /* Transición suave */
    border-radius: 10px; /* Agrega bordes redondeados */
    width: 100%;
}

/* Estilos al hacer hover en los elementos .server */
.server:hover {
    color:rgb(241, 241, 241);
    background-color: rgba(47, 47, 47, 0.397);
    width: 100%;
}



.new-server,
.profile a {
	color: #dddddd;
	text-decoration: underline;
	font-weight: 600;
}

/* Lista de canales */
.channel-list {
	background-color: #1f2022a5;
	color: #dddddd;
	width: 220px; /* Ancho ajustado para responsive */
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: left;
	padding: 20px;
	overflow-y: auto;
    padding-right: 35px;
}

.channel {
    padding: 8px 10px; /* Ajusta el espaciado alrededor del texto */
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s; /* Transición suave */
    border-radius: 10px; /* Agrega bordes redondeados */
    width: 100%;
    color: #9f9f9f;
}

.channel:hover {
    color: rgb(241, 241, 241);
    background-color: rgba(47, 47, 47, 0.397);
    width: 100%;
}

.channel > * {
	margin-right: 5px;
}

.server > * {
	margin-right: 5px;
}

/* Área principal */
.main {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding: 35px;
	padding-top: 20px;
	background-color: #0a0a0a91;
	overflow-y: auto;
	justify-content: space-between;
}

.chat-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.server-name {
	display: flex;
	font-size: 1.3rem;
	font-weight: bold;
	color: #c6c6c6;
}

.server-title {
	color: rgb(192, 192, 192); /* Cambiar el color del título del servidor a blanco */
	margin-right: 5px; /* Agregar margen derecho para separación */
}

.channel-title {
	color: #959595; /* Cambiar el color del título del canal a gris claro */
}

.separator {
	margin: 0 10px;
}

.chat-messages {
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: #4126550d;
	overflow-y: auto;
	flex: 1;
	border-radius: 5px;
}

.chat-input {
	display: flex;
	align-items: center;
	margin-top: 20px;
	flex-wrap: wrap;
}

input[type='text'] {
	flex: 1;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #aeaeae30;
	color: #dddddd;
	outline: none;
	font-size: 1rem;
}

button {
	text-align: center;
	margin-left: 10px;
	background: rgb(190, 190, 190);
	background: linear-gradient(
		180deg,
		rgb(182, 182, 182) 0%,
		rgbrgb(198, 198, 198) 0%
	);
	color: #3d3d3d;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 600;
	padding: 10px;
}

button:hover {
    background-color: rgb(188, 106, 229);
    color:rgb(241, 241, 241)
}

.account {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 20px;
	margin-bottom: 15px;
}

/* Estilos para los mensajes */
.message {
    display: flex;
    margin-bottom: 20px;

}

/* Estilos para la foto de perfil circular */
.user-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin-right: 10px;
}

/* Estilos para la fecha y hora */
.timestamp {
    font-size: 0.8rem;
    color: #9f9f9f;
}

/* Estilos para el mensaje de texto */
.message-text {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}

/* Estilos para los elementos .server */
.server {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
    border-radius: 10px;
    width: 100%;
    color: #9f9f9f;
	
}

.server :last-child {
	align-self: flex-end;
}

/* Estilos para el icono */
.server i {
    margin-right: 10px;
}

/* Estilos para el nombre del servidor */
.server-name {
    flex-grow: 1;
    font-weight: bold;
    margin-right: 10px;
}

/* Estilos para el botón "Unirse" */
.join-button {
	align-self: flex-end;
    color: #ffffff; /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.2s;
}

/* Estilos al hacer hover en el botón "Unirse" */
.join-button:hover {
    background-color: rgb(188, 106, 229);
}

#searchable {
justify-content: space-between;
}

.person-card img {
	width: 96px;
	border-radius: 100px;
}

.person-card p i {
	margin-right: 7px;
}




.team {
	padding: 5%;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

h2 {
	text-align: left !important;
}

a {
	text-decoration: none;
	font-weight: 200;
}






/* Caja para eliminación de cuenta */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content {
    background-color: #444;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    color: #fff;
}

.modal h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


.confirmation-text {
    opacity: 0.7;
}

#confirmInput {
    width: 94%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

#eliminarButton {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#eliminarButton:hover {
    background-color: #ff4d4d;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.buttons {
    text-align: center;
    margin-top: 20px; 
}


/* Estilo para la opción de cambiar imagen*/
.profile-picture-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px auto;
}

.profile-picture-preview img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

/**/
.sidebar a.active {
    background-color: #444;
}


p {
	line-height: 1rem !important;
}